<%= form_for([@competition, @competition_event], :html => { :class => "form-stacked"}) do |f| %>
  <% if @competition_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition_event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @competition_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-1">
      <div class="field">
        3x3 <br>
        <%= f.check_box :e_3x3 %>
      </div>
    </div>

    <div class="col-xs-1">
      <div class="field">
        2x2 <br>
        <%= f.check_box :e_2x2 %>
      </div>
    </div>

    <div class="col-xs-1">
      <div class="field">
        Skewb <br>
        <%= f.check_box :e_skewb %>
      </div>
    </div>

    <div class="col-xs-9"></div>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
