<%= form_for([@competition, @competition_event], :html => { :class => "form-stacked"}) do |f| %>
  <% if @competition_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition_event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @competition_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

<!-- for each event that does not already have a record, create a checkbox and title -->
<% @meta_events.each do |event| %>

<div class="col-xs-1">
  <div class="field">
    <%= event[2..-1] %> <br>
    <%= f.check_box event %>
  </div>
</div>

<% @event_count = @event_count + 1 %>
<% end %>








<% @meta_events.each do |event| %>

<% end %>
<%= select_tag "events", options_from_collection_for_select(@meta_events, "events", "events") %>
















    <div class="col-xs-<%= "#{12 - @event_count}" %>"></div>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
