<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= link_to "Add Event", new_competition_event_path(@competition) %>

<div class="row">

<!-- table header -->
  <div class="row noMargin">
    <div class="col-xs-8">
      <div class="row">
          <div class="col-xs-4">Name</div>
          <div class="col-xs-4">Competition</div>
          <div class="col-xs-4">Num Competitiors</div>
      </div>
    </div>
      <div class="col-xs-4"></div>
    </div>

<!-- create a new row for each Event -->
    <% @competition_events.each do |event| %>
    <div class="row noMargin">
      <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-4"><%= link_to event.name, competition_competition_event_path(@competition, event) %></div>
            <div class="col-xs-4"><%= event.competition_id %></div>
            <div class="col-xs-4"><%= event.num_competitors %></div>
        </div>
      </div>
        <div class="col-xs-4">
         <%= link_to 'Edit ', edit_competition_competition_event_path(@competition, event) %><%= link_to 'Destroy', competition_competition_event_path(@competition, event), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %><br>
  </div>

</div>
