<%= form_for([@competition, @competition_event, @round], :html => { :class => "form-stacked"}) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_number %><br>
    <%= f.number_field :round_number %>
  </div>

  <div class="field">
    <%= f.label :competition_event_id %><br>
    <%= f.number_field :competition_event_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
