<p id="notice"><%= notice %></p>

<h1>Listing Rounds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= link_to "#{@event.name} #{round.round_number}", competition_event_round_path(@competition, @event, round) %></td>
        <td><%= link_to 'Edit', edit_competition_event_round_path(@competition, @event, round) %></td>
        <td><%= link_to 'Destroy', competition_event_round_path(@competition, @event, round), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_competition_event_round_path(@competition, @event, @round) %>
